button {
  outline: transparent;
  border: none;
  background-color: transparent;
}

div.wrapper {
<<<<<<< HEAD
  margin-top: 4rem;
  max-width: 50rem;
}
=======
  max-width: 50rem;
  min-width: 330px
}
>>>>>>> refactor
