div {
    margin-bottom: 1rem;
  }
  div:last-of-type {
    margin-bottom: 0;
  }
  .d-flex {
    gap: 1rem;
  }
  .active {
    color: white;
    background-color: #6c757d;
  }
  
  @media screen and (max-width: 576px) {
    .menu {
      position: absolute;
      left: 0;
      bottom: -4rem;
      width: 100%;
    }
  }